header {
  width: 100%;
  border-bottom: 2px solid grey;
  background-color: #3D5A80;
}
header span {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
header .writeBox {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
header .writeBox nav a {
  text-decoration: none;
  color: white;
}
header .writeBox button {
  background-color: #EE6C4D;
  padding: 8px 12px;
  border: 2px solid gold;
  gap: 8px;
}

main .firstBox {
  width: 100%;
  background-color: #3D5A80;
}
main .firstBox .leftWriteBox {
  display: flex;
  gap: 20px;
}
main .firstBox .leftWriteBox h5 {
  font-size: 40px;
  color: white;
}
main .firstBox .leftWriteBox h5 a {
  color: #EE6C4D;
}
main .firstBox .leftWriteBox span {
  font-size: 18px;
  align-self: center;
  color: white;
}
main .firstBox .leftWriteBox .btnBox {
  background-color: #EE6C4D;
  padding: 12px 18px;
  border-radius: 5px;
  width: 50%;
  border-bottom: #EE6C4D;
  border-right: #EE6C4D;
}
main .firstBox .rightLogoBox {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .firstBox .rightLogoBox .bacgroundBox {
  position: absolute;
  z-index: 1;
  top: 0;
}
main .firstBox .rightLogoBox .largeBox {
  position: absolute;
  z-index: 3;
  top: 0;
}
main .twoBox {
  width: 100%;
  background-color: #293241;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .twoBox .container {
  background-color: #293241;
}
main .twoBox .container .rightWriteBox {
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main .twoBox .container .rightWriteBox span {
  color: white;
}
main .twoBox .container .rightWriteBox .AboutMeBox {
  color: white;
  padding: 10px 0;
  border-bottom: 2px solid #EE6C4D;
}
main .twoBox .under {
  background-color: #293241;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .twoBox .under h1 {
  color: white;
  border-bottom: 2px solid #EE6C4D;
  align-self: center;
}
main .twoBox .under .logosBox {
  padding: 20px 0;
}
main .threeSectionBox {
  background-color: #3D5A80;
  width: 100%;
}
main .threeSectionBox .three {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 75vh;
  gap: 15px;
}
main .threeSectionBox .three h1 {
  border-bottom: 2px solid #EE6C4D;
  width: 15%;
  color: white;
  padding: 10px 0;
}
main .threeSectionBox .three .mediumBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
main .threeSectionBox .three .mediumBox .logoWriteBox {
  width: 27.5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .threeSectionBox .three .mediumBox .logoWriteBox span {
  color: white;
}
main .threeSectionBox .three .belowBox {
  display: flex;
  justify-content: center;
}
main .threeSectionBox .three .belowBox button {
  padding: 10px 35px;
  border: 1px solid #EE6C4D;
  background-color: transparent;
  color: #EE6C4D;
  border-radius: 5px;
}
main .threeSectionBox .three .belowBox button:hover {
  background-color: #EE6C4D;
  color: #3D5A80;
}
main .foursectionBox {
  width: 100%;
  background-color: #2F3746;
}
main .foursectionBox .container {
  background-color: #2F3746;
}
main .foursectionBox .fourBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
}
main .foursectionBox .fourBox h1 {
  align-self: center;
  color: white;
  border-bottom: 2px solid #EE6C4D;
  padding: 10px 0;
}
main .foursectionBox .fourBox .logoBox {
  align-self: center;
  display: flex;
  justify-content: space-around;
}
main .foursectionBox .fourBox .logoBox img {
  width: 40%;
}
main .fiftysectionBox {
  background-color: #3D5A80;
  width: 100%;
  min-height: 50vh;
}
main .fiftysectionBox .container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 45vh;
}
main .fiftysectionBox .container h1 {
  border-bottom: 2px solid #EE6C4D;
  width: 25%;
  color: white;
  padding: 10px 0;
}
main .fiftysectionBox .container .inpTwoBox {
  display: flex;
  justify-content: space-between;
}
main .fiftysectionBox .container .inpTwoBox input {
  width: 49%;
  padding: 10px 0;
  border-radius: 2px;
  background-color: #26384F;
  border: 1px solid #26384F;
}
main .fiftysectionBox .container .inpBox {
  display: flex;
  justify-content: space-between;
}
main .fiftysectionBox .container .inpBox input {
  width: 100%;
  padding: 30px 0;
  border-radius: 2px;
  background-color: #26384F;
  border: 1px solid #26384F;
}
main .fiftysectionBox .container button {
  width: 10%;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #EE6C4D;
  background-color: #EE6C4D;
  color: white;
}

footer {
  width: 100%;
  background-color: #3D5A80;
}
footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .container span {
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #3D5A80;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}

.leftWriteBox {
  width: 40%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}